* {
  box-sizing: border-box
}

h1, h2, ul, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  color: #231F20;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

/*
 -----------
 LOAD SCREEN
 -----------
*/
.load-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  transform: translateX(0);
  z-index: 90;
}

.load {
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  transform: translateX(0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.load .logo-svg {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.load .logo-svg .letter {
  opacity: .07;
  fill: #231f20;
  transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.load .logo-svg .letter.active {
  opacity: .7;
}

.load .photos {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.load .photos .photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.load .photos .photo img {
  max-width: 300px;
  max-height: 300px;
}

@media (max-width: 1280px) {
  .load .logo-svg {
    width: 473px;
    height: 277px;
  }
}

@media (max-width: 700px) {
  .load .logo-svg {
    width: 212px;
    height: 125px;
  }
}

/*
 ------------------
 BUTTONS
 ------------------
*/
.logo-home {
  position: absolute;
  top: 44px;
  left: 50px;
  width: 64px;
  height: 101px;
  z-index: 41;
  display: block;
  opacity: 0;
  transition: opacity .25s ease-in;
  cursor: pointer;
}

body.loaded .logo-home {
  opacity: 1;
}

.back-button {
  width: 40px;
  height: 40px;
  top: 3rem;
  left: 3rem;
  z-index: 71;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  display: none;
  transition: .5s ease-in;
}

.back-button:hover {
  transform: translateX(-20px)
}

.back-button.active {
  opacity: 1;
}

.contact-button {
  background-color: #000;
  width: 40px;
  height: 40px;
  top: 44px;
  right: 50px;
  z-index: 50;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transition: .5s ease-in;
}

body.loaded .contact-button {
  opacity: 1;
}

.contact-button--wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.contact-button--wrapper span {
  position: absolute;
  display: block;
  height: 2px;
  background: #fff;
  width: 24px;
  right: 8px;
  transform: rotate(0deg);
  opacity: 1;
  transition: .25s ease-in-out;
}

.contact-button--wrapper span:nth-child(1) {
  top: 9px;
  width: 20px;
}

.contact-button--wrapper span:nth-child(2) {
  top: 19px;
}

.contact-button--wrapper span:nth-child(3) {
  width: 12px;
  top: 29px;
}

.contact-button.hover .contact-button--wrapper span,
.contact-button:hover .contact-button--wrapper span {
  width: 24px;
}

.contact-button.active .contact-button--wrapper span {
  width: 24px !important;
}

.contact-button.active .contact-button--wrapper span:nth-child(1) {
  transform: rotate(-45deg);
  top: 20px;
}

.contact-button.active .contact-button--wrapper span:nth-child(2) {
  opacity: 0;
}

.contact-button.active .contact-button--wrapper span:nth-child(3) {
  transform: rotate(45deg);
  top: 20px;
}

@media (max-width: 768px) {
  .logo-home {
    top: 1rem;
    left: 1rem;
  }

  .back-button {
    top: 1rem;
    left: 1rem;
  }

  .contact-button {
    top: 1rem;
    right: 1rem;
  }
}

.scroll-helper {
  position: absolute;
  bottom: 44px;
  left: 50px;
  width: 36px;
  height: 80px;
  text-align: center;
  overflow: hidden;
  padding-top: 4px;
  z-index: 41;
  display: block;
  opacity: 0;
  transition: opacity .25s ease-in;
  font-size: 12px;
}

body.loaded .scroll-helper {
  opacity: 1;
}

.scroll-helper.hide {
  opacity: 0 !important;
}

.scroll-helper .text {
  margin-bottom: 4px;
}

.scroll-helper .text.scroll {
  display: block;
}

.scroll-helper .text.swipe {
  display: none;
}

@media (max-width: 768px) {
  .scroll-helper {
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: unset;
  }

  .scroll-helper .text.scroll {
    display: none;
  }

  .scroll-helper .text.swipe {
    display: block;
  }
}

.projects {
  z-index: 1;
}

.logo-lavi {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity .25s ease-in;
}

body.loaded .logo-lavi {
  opacity: 1;
}

.projects-canvas {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

.project {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  padding: 42vh 0 0 10vw;
}

.project .project-info {
  flex: none;
  width: 100%;
}

.project .project-info .project-name {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 4px;
  display: flex;
  overflow: hidden;
}

.project .project-info .project-name span {
  display: block;
  margin-right: 2px;
}

.project .project-info span.speed-1x {
  transform: translate3d(0, 100%, 0)
}

.project .project-info span.speed-2x {
  transform: translate3d(0, 200%, 0)
}

.project .project-info span.speed-3x {
  transform: translate3d(0, 300%, 0)
}

.project .project-info .project-category {
  font-size: .75rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.project .project-info .project-category span, .project-info .project-detail-link span {
  display: block;
  margin-right: 2px;
}

.project .project-info .project-detail-link {
  font-weight: 600;
  font-size: 1.5rem;
  overflow: hidden;
}

.project .project-info .project-detail-link a {
  color: #231F20;
  text-decoration: none;
  position: relative;
}

.project .project-info .project-detail-link a::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  height: 2px;
  background: #231F20;
  transform: scale(1);
  transition: transform .25s ease-in;
  transform-origin: left center;
}

.project .project-info .project-detail-link a:hover::after {
  transform: scaleX(0);
  transform-origin: right center;
}

.project-counter {
  display: flex;
  position: absolute;
  top: 37.5vh;
  left: 10vw;
  z-index: 10;
  font-size: 1rem;
}

.project-counter > div {
  flex: none
}

.project-counter .project-current {
  width: 20px;
  overflow: hidden;
}

.project-counter .project-current span {
  display: block;
  transform: translate3d(0, -100%, 0)
}

.project-counter .project-total {
  width: 20px;
  opacity: 0.5;
}

.project-counter .counter-line {
  width: 200px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.project-counter .counter-line .line-1 {
  width: 100%;
  height: 1px;
  background-color: #231F20;
  top: 12px;
  left: 0px;
  opacity: 0.5;
  position: absolute;
}

.project-counter .counter-line .line-2 {
  width: 100%;
  top: 11px;
  left: 0px;
  height: 3px;
  background-color: #231F20;
  position: absolute;
  transform: translate3d(-100%, 0, 0)
}

/*
 -----------------
 PROJECT DETAIL
 -----------------
*/
.project-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: none;
  z-index: 40;
  overflow: scroll;
}

.project-page .container {
  width: calc(100% - 400px);
  margin: 0px auto;
}

.project-page .project-dcover {
  margin-top: 135px;
}

.project-page .fluid {
  width: 100%;
}

.project-page .project-content {
  display: none;
}

.project-dcover {
  overflow: hidden;
}

.project-dcover .cover {
  width: 100%;
  height: 550px;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-content .section {
  margin-top: 30px;
}

.project-content .section-project-content {
  margin-top: 50px;
  padding-bottom: 20px;
}

.project-content .section-project-content .container {
  display: flex;
}

.project-content .section-project-content .project-info {
  flex: none;
  width: 50%;
}

.project-content .section-project-content .project-info .project-name .name {
  display: flex;
  overflow: hidden;
}

.project-content .section-project-content .project-info .project-name .name span {
  display: block;
  margin-right: 2px;
  transform: translateY(0);
  opacity: 1;
  font-size: 4.5rem;
  font-weight: 600;
}

.project-content .section-project-content .project-info .project-name .category {
  font-size: 12px;
}

.project-content .section-project-content .project-introduction {
  flex: none;
  width: 50%;
  font-size: 16px;
  line-height: 2.1;
}

.project-content .section .image img {
  width: 100%;
}

.project-content .section-one-image-full .container {
  width: 100%;
}

.project-content .section-one-image-small .container {
  width: 50%;
}

.project-content .section-two-image .container {
  display: flex
}

.project-content .section-two-image .container .image:nth-child(1) {
  width: calc(50% - 15px);
}

.project-content .section-two-image .container .image:nth-child(2) {
  margin-left: auto;
  width: calc(50% - 15px);
}

.project-content .next-project {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #231f20;
  color: #fff;
}

.project-content .next-project a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-direction: column;
}

.project-content .next-project a span {
  display: block;
  text-align: center;
}

.project-content .next-project a span + span {
  margin-top: 4px;
}

.project-content .next-project a span.title {
  font-size: 4rem;
  font-weight: 700;
}

@media (max-width: 1280px) {
  .project-dcover .cover {
    height: 400px;
  }

  .project-page .container {
    width: calc(100% - 200px);
  }

  .project-content .section-project-content .project-info .project-name .name span {
    font-size: 3.5rem;
  }

  .project-content .next-project {
    margin-top: 50px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .project-dcover .cover {
    height: 275px;
  }

  .project-page .container {
    width: calc(100% - 60px);
  }

  .project-dcover {
    margin-top: 100px;
  }

  .project-content .section-project-content .project-info {
    width: 100%;
  }

  .project-content .section-project-content .project-info .project-name .name span {
    font-size: 2.5rem;
  }

  .project-content .section-project-content .project-info .project-name .category {
    margin-top: 15px;
  }

  .project-content .section-project-content .project-introduction {
    margin-top: 15px;
    width: 100%;
  }

  .section-project-content .project-info .project-name .name span {
    font-size: 2rem;
  }

  .project-content .section-image .container {
    width: 100%;
  }

  .project-content .section-two-image .container {
    display: block;
  }

  .project-content .section-two-image .container .image {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
  }

  .project-content .section-two-image .container .image + .image {
    margin-top: 30px;
  }

  .project-content .next-project {
    margin-top: 32px;
    height: 136px;
  }

  .project-content .next-project a span.title {
    font-size: 2rem;
  }
}

.p-o {
  opacity: 0;
}

.p-y {
  transform: translateY(30)
}

.contact-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 40;
  overflow: hidden;
  display: none;
}

.contact-page .contact-page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 200%;
  height: 100%;
}

.contact-page .avatar {
  background: #e1e1e1 url(/photos/avatar.png);
  background-size: cover;
  width: 25%;
  flex: none;
}

.contact-page .designer-info {
  display: flex;
  flex: none;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-page .intro {
  width: 80%;
  font-weight: 700;
  font-size: 3rem;
}

.contact-page .card {
  margin-top: 2rem;
  display: flex;
  padding: 0;
  list-style: none;
  width: 80%;
}

.contact-page .card li {
  width: 50%;
  flex: none;
}

.contact-page .card li span {
  display: block;
  font-size: 0.75rem;
}

.contact-page .card li span.info {
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.contact-page .new-project {
  width: 80%;
  margin-top: 3rem;
}

.contact-page .new-project div {
  width: 340px;
  display: flex;
  height: 40px;
  background: #000;
  color: #fff;
  justify-content: space-between;
  cursor: pointer;
  transition: width 0.2s ease-out;
  font-size: 1.1rem;
  font-weight: 600;
}

.contact-page .new-project div:hover {
  width: 100%;
}

.contact-page .new-project div span {
  display: block;
  flex: none;
  width: auto;
  padding-top: 8px;
}

.contact-page .new-project div span.text {
  padding-left: 8px; 
}

.contact-page .new-project div span.icon {
  width: 40px;
  padding-left: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.4)
}

.contact-page .new-project-1 {
  width: 25%;
  flex: none;
  background: #000 url(/photos/new-project-1.png);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact-page .new-project-2 {
  width: 25%;
  flex: none;
  background: #000 url(/photos/new-project-2.png);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact-page .new-project-1 a,
.contact-page .new-project-2 a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
}

.contact-page a .project-category {
  font-size: 3rem;
  font-weight: 600;
  display: block;
}

.contact-page a .icon {
  margin-top: 1rem;
  display: block;
}

@media (max-width: 1280px) {
  .project .project-info .project-name {
    font-size: 3.5rem;
  }
  
  .project .project-info .project-category {
    margin-bottom: 1.5rem;
  }
  
  .project .project-info .project-detail-link {
    font-size: 1rem;
  }

  .contact-page .intro {
    font-size: 2rem;
  }

  .contact-page a .project-category {
    font-size: 2rem;
  }
}

/* MOBILE VERSION */
@media (max-width: 600px) {
  .projects-canvas {
    width: 100%;
    height: 55%;
  }

  .logo-lavi {
    display: none;
    /* position: absolute; */
    transform: rotate(90deg);
    width: 80%;
    height: 80%;
    bottom: 0;
    /* overflow: hidden; */
  }
  
  .project {
    padding-top: 61vh;
    padding-left: 30px;
  }
  
  .project .project-info {
    width: 100%;
  }

  .project .project-info .project-name {
    font-size: 2.5rem;
  }

  .project-counter {
    top: 57vh;
    left: 30px;
  }

  .project-counter .counter-line {
    width: 100px;
  }

  .section-project-content .container {
    flex-wrap: wrap;
  }
  
  .contact-page .contact-page-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .contact-page .avatar {
    background: url(/photos/avatar.png);
    background-size: cover;
    width: 50%;
    height: 50%;
    order: 1;
    flex: 50%;
  }
  
  .contact-page .designer-info {
    flex: 50%;
    order: 3;
    height: 50%;
    width: 50%;
  }
  
  .contact-page .intro {
    font-size: 1rem;
  }
  
  .contact-page .card {
    margin-top: 0rem;
    flex-wrap: wrap;
  }
  
  .contact-page .card li {
    width: 100%;
  }
  
  .contact-page .card li span {
    margin-top: 0.5rem;
  }
  
  .contact-page .card li span.info {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .contact-page .new-project {
    margin-top: 1rem;
  }
  
  .contact-page .new-project div {
    width: 320px;
  }
  
  .contact-page .new-project-1 {
    width: 50%;
    height: 50%;
    order: 2;
    flex: 50%;
  }
  
  .contact-page .new-project-2 {
    width: 50%;
    height: 50%;
    flex: 50%;
    order: 4;
  }
  
  .contact-page a .project-category {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .project {
    padding-top: 62vh;
  }
  
  .project .project-info {
    width: 100%;
  }

  .project .project-info .project-name {
    font-size: 2rem;
  }

  .project-counter {
    top: 57vh;
  }
}

/*
 ----------------------
 PROJECTS
 ----------------------
*/
.project-01-detail .project-dcover .cover {
  background-image: url(/photos/01-dcover.png)
}

.project-02-detail .project-dcover .cover {
  background-image: url(/photos/02-dcover.png)
}

.project-03-detail .project-dcover .cover {
  background-image: url(/photos/03-dcover.png)
}

.project-04-detail .project-dcover .cover {
  background-image: url(/photos/04-dcover.png)
}

.project-05-detail .project-dcover .cover {
  background-image: url(/photos/05-dcover.png)
}

.project-06-detail .project-dcover .cover {
  background-image: url(/photos/06-dcover.png)
}

.project-01-detail .next-project {
  background-image: url(/photos/02-next.png);
}

.project-02-detail .next-project {
  background-image: url(/photos/03-next.png);
}

.project-03-detail .next-project {
  background-image: url(/photos/04-next.png);
}

.project-04-detail .next-project {
  background-image: url(/photos/05-next.png);
}

.project-05-detail .next-project {
  background-image: url(/photos/06-next.png);
}

.project-06-detail .next-project {
  background-image: url(/photos/01-next.png);
}
