* {
  box-sizing: border-box
}

h1, h2, ul, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  color: #231F20;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.back-button {
  /* background-color: #000; */
  width: 40px;
  height: 40px;
  top: 44px;
  left: 50px;
  z-index: 71;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  display: block;
  transition: .5s ease-in;
}

.back-button:hover {
  transform: translateX(-20px)
}

.back-button.active {
  opacity: 1;
}

.contact-button {
  background-color: #000;
  width: 40px;
  height: 40px;
  top: 44px;
  right: 44px;
  z-index: 50;
  position: absolute;
  cursor: pointer;
}

.contact-button--wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.contact-button--wrapper span {
  position: absolute;
  display: block;
  height: 2px;
  background: #fff;
  width: 24px;
  right: 8px;
  transform: rotate(0deg);
  opacity: 1;
  transition: .25s ease-in-out;
}

.contact-button--wrapper span:nth-child(1) {
  top: 9px;
  width: 20px;
}

.contact-button--wrapper span:nth-child(2) {
  top: 19px;
}

.contact-button--wrapper span:nth-child(3) {
  width: 12px;
  top: 29px;
}

.contact-button.hover .contact-button--wrapper span,
.contact-button:hover .contact-button--wrapper span {
  width: 24px;
}

.contact-button.active .contact-button--wrapper span {
  width: 24px !important;
}

.contact-button.active .contact-button--wrapper span:nth-child(1) {
  transform: rotate(-45deg);
  top: 20px;
}

.contact-button.active .contact-button--wrapper span:nth-child(2) {
  opacity: 0;
}

.contact-button.active .contact-button--wrapper span:nth-child(3) {
  transform: rotate(45deg);
  top: 20px;
}

.load-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  transform: translateX(-100%);
  z-index: 0;
}

.load {
  width: 100%;
  height: 100%;
  background: #ccc;
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.load .photos {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  position: relative;
}

.load .photos .photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.load .photos .photo img {
  max-width: 300px;
  max-height: 300px;
}

.logo {
  position: absolute;
  top: 44px;
  left: 50px;
  width: 64px;
  height: 101px;
  z-index: 50;
  display: none;
  opacity: 0;
  transition: opacity .25s ease-in;
}

.projects {
  z-index: 1;
}

.project {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  /* z-index: 0; */
  /* visibility: hidden; */
}

.project .project-info {
  flex: none;
  width: 50%;
  padding: 15% 1% 0 10%;
}

.project .project-info .project-name {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  display: flex;
  overflow: hidden;
}

.project .project-info .project-name span {
  display: block;
  margin-right: 2px;
}

.project .project-info span.speed-1x {
  transform: translate3d(0, 100%, 0)
}

.project .project-info span.speed-2x {
  transform: translate3d(0, 200%, 0)
}

.project .project-info span.speed-3x {
  transform: translate3d(0, 300%, 0)
}

.project .project-info .project-category {
  font-size: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
  opacity: 0.6;
}

.project .project-info .project-category span, .project-info .project-detail-link span {
  display: block;
  margin-right: 2px;
}

.project .project-info .project-detail-link {
  font-weight: 600;
  font-size: 1rem;
  overflow: hidden;
}

.project .project-info .project-detail-link a {
  color: #231F20;
  text-decoration: none;
  position: relative;
}

.project .project-info .project-detail-link a::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  height: 2px;
  background: #231F20;
  transform: scale(1);
  transition: transform .25s ease-in;
  transform-origin: left center;
}

.project .project-info .project-detail-link a:hover::after {
  transform: scaleX(0);
  transform-origin: right center;
}

.project .project-cover {
  overflow: hidden;
  flex: none;
  width: 50%;
}

.project .project-cover .cover {
  width: 100%;
  height: 100%;
  max-width: 930px;
  transform: translate3d(0, -100%, 0);
  overflow: hidden;
}

.project .project-cover .cover .canvas {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  transform: translate3d(-3px, -3px, 0);
}

.project-counter {
  display: flex;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 10;
}

.project-counter > div {
  flex: none
}

.project-counter .project-current {
  width: 20px;
  overflow: hidden;
}

.project-counter .project-current span {
  display: block;
  transform: translate3d(0, -100%, 0)
}

.project-counter .project-total {
  width: 20px;
  opacity: 0.5;
}

.project-counter .counter-line {
  width: 200px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.project-counter .counter-line .line-1 {
  width: 100%;
  height: 1px;
  background-color: #231F20;
  top: 12px;
  left: 0px;
  opacity: 0.5;
  position: absolute;
}

.project-counter .counter-line .line-2 {
  width: 100%;
  top: 11px;
  left: 0px;
  height: 3px;
  background-color: #231F20;
  position: absolute;
  transform: translate3d(-100%, 0, 0)
}

.project-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
  z-index: 40;
  overflow: scroll;
}

.container {
  width: calc(100% - 100px);
  margin: 145px auto 50px auto;
}

.fluid {
  width: 100%;
}

.project-container .project-content {
  display: none;
}

.project-dcover {
  overflow: hidden;
}

.project-dcover .cover {
  width: 100%;
  /* transform: translateX(100%); */
  opacity: 0;
}

.project-dcover .cover img {
  width: 100%;
}

.section-project-content .container {
  display: flex;
}

.section-project-content .project-info {
  flex: none;
  width: 50%;
}

.section-project-content .project-info .project-name .name {
  display: flex;
}

.section-project-content .project-info .project-name .name span {
  display: block;
  margin-right: 2px;
  transform: translateY(0);
  opacity: 1;
  font-size: 3rem;
  font-weight: 600;
}

.section-project-content .project-info .project-name .category {

}

.section-project-content .project-introduction {
  flex: none;
  width: 50%;
}

.section .image img {
  width: 100%;
}

.section-two-image .container {
  display: flex
}

.next-project {
  width: 100%;
  height: 332px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.next-project.project-01 {
  background-image: url(/photos/01-next.png);
}

.next-project.project-02 {
  background-image: url(/photos/02-next.png);
}

.next-project.project-03 {
  background-image: url(/photos/03-next.png);
}

.next-project.project-04 {
  background-image: url(/photos/04-next.png);
}

.next-project.project-05 {
  background-image: url(/photos/05-next.png);
}

.next-project.project-06 {
  background-image: url(/photos/06-next.png);
}

.next-project a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-direction: column;
}

.next-project a span {
  display: block;
  text-align: center;
}

.next-project a span + span {
  margin-top: 1rem;
}

.next-project a span.title {
  font-size: 4rem;
  font-weight: 700;
}

.p-o {
  opacity: 0;
}

.p-y {
  transform: translateY(30)
}

.contact-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 40;
  overflow: hidden;
  display: none;
}

.contact-page .contact-page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 200%;
  height: 100%;
}

.contact-page .avatar {
  background: url(/photos/avatar.png);
  background-size: cover;
  width: 25%;
  flex: none;
}


.contact-page .designer-info {
  display: flex;
  flex: none;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-page .intro {
  width: 80%;
  font-weight: 700;
  font-size: 1.5rem;
}

.contact-page .card {
  margin-top: 2rem;
  display: flex;
  padding: 0;
  list-style: none;
  width: 80%;
}

.contact-page .card li {
  width: 50%;
  flex: none;
}

.contact-page .card li span {
  display: block;
}

.contact-page .card li span.info {
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.contact-page .new-project {
  width: 80%;
  margin-top: 3rem;
}

.contact-page .new-project div {
  width: 300px;
  display: flex;
  height: 40px;
  background: #000;
  color: #fff;
  justify-content: space-between;
  cursor: pointer;
  transition: width 0.2s ease-out;
}

.contact-page .new-project div:hover {
  width: 100%;
}

.contact-page .new-project div span {
  display: block;
  flex: none;
  width: auto;
  padding-top: 8px;
}

.contact-page .new-project div span.text {
  padding-left: 8px; 
}

.contact-page .new-project div span.icon {
  width: 40px;
  padding-left: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.4)
}

.contact-page .new-project-1 {
  width: 25%;
  flex: none;
  background: url(/photos/new-project-1.png);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact-page .new-project-2 {
  width: 25%;
  flex: none;
  background: url(/photos/new-project-2.png);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact-page .new-project-1 a,
.contact-page .new-project-2 a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
}

.contact-page a .project-category {
  font-size: 3rem;
  font-weight: 600;
  display: block;
}

.contact-page a .icon {
  margin-top: 1rem;
  display: block;
}
