* {
  box-sizing: border-box
}

h1, h2 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  color: #231F20;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/* .main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.project {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.project-info {
  flex: none;
  width: 50%;
  padding: 15% 1% 0 10%;
}

.project-info .project-name {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  display: flex;
  overflow: hidden;
}

.project-info .project-name span {
  display: block;
  margin-right: 2px;
}

.project-info span.speed-1x {
  transform: translate3d(0, 100%, 0)
}

.project-info span.speed-2x {
  transform: translate3d(0, 200%, 0)
}

.project-info span.speed-3x {
  transform: translate3d(0, 300%, 0)
}

.project-info .project-category {
  font-size: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.project-info .project-category span, .project-info .project-detail-link span {
  display: block;
  margin-right: 2px;
}

.project-info .project-detail-link {
  font-weight: 600;
  font-size: 1.5rem;
  overflow: hidden;
}

.project-info .project-detail-link a {
  color: #231F20;
}

.project-cover {
  overflow: hidden;
  flex: none;
  width: 50%;
}

.project-cover .cover {
  width: 100%;
  height: 100%;
  max-width: 930px;
  transform: translate3d(0, -100%, 0);
  overflow: hidden;
}

.project-cover .cover .canvas {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  transform: translate3d(-3px, -3px, 0);
}

.project-counter {
  display: flex;
  position: absolute;
  top: 20%;
  left: 10%;
}

.project-counter > div {
  flex: none
}

.project-counter .project-current {
  width: 20px;
  overflow: hidden;
}

.project-counter .project-current span {
  display: block;
  transform: translate3d(0, -100%, 0)
}

.project-counter .project-total {
  width: 20px;
  opacity: 0.5;
}

.project-counter .counter-line {
  width: 200px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.project-counter .counter-line .line-1 {
  width: 100%;
  height: 1px;
  background-color: #231F20;
  top: 12px;
  left: 0px;
  opacity: 0.5;
  position: absolute;
}

.project-counter .counter-line .line-2 {
  width: 100%;
  top: 11px;
  left: 0px;
  height: 3px;
  background-color: #231F20;
  position: absolute;
  transform: translate3d(-100%, 0, 0)
}